<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/htmlTable.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CheckerBoard</title>
</head>

<body>
    <center>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Full Name</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in users: %}
                <tr>
                    <td>{{obj["first_name"]}}</td>
                    <td>{{obj["last_name"]}}</td>
                    <td>{{obj["first_name"]}} {{obj["last_name"]}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </center>
</body>

</html>